.chat-message-body {
    background-color: #DAE2F2;
    border: 1px solid #AFBFE0;
    width: 70%;
    float: right;
    border-radius: 10px;
    border-top-right-radius: 0;
    margin: 5px 10px 5px 10px;

}

.chat-message-my {
    float: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    background-color: #C9F0D7;
    border: 1px solid #85B882;
}

.clear {
    clear: both;
}

.chat-message-body .nickname {
    font-size: 10px;
    font-weight: bold;
    margin: 0 10px 0 0;
    text-align: right;
}

.chat-message-body .message {
    margin: 0 10px 10px 10px;
}

.system-message {
    text-align: center;
    color: #333333;
}